*[class^='my-btn'] {
	&:focus,
	&:active {
		outline: 0;
		box-shadow: none;
	}
}

.my-btn {
	font-family: var(--font-titles);
	font-weight: $titles-semibold;
	font-size: $font-sm;
	background-color: var(--primary);
	border: none;
	color: white;
	padding: 10px calc(var(--module) / 3);
	text-transform: uppercase;
	text-decoration: none;
	position: relative;

	&:hover {
		background-color: var(--secondary);
		color: white;
		text-decoration: none;
	}

	&.secondary {
		background-color: white;
		color: var(--primary);
		border-bottom: 3px solid var(--primary);
		padding-left: 0;
		padding-right: 0;
		&:hover {
			color: var(--secondary);
			border-bottom: 3px solid var(--secondary);
		}
	}
	&.third {
		background-color: white;
		color: var(--secondary);
		border: 1px solid var(--secondary);
		border-bottom: 3px solid var(--secondary);

		&:hover {
			color: var(--primary);
			border: 1px solid var(--primary);
			border-bottom: 3px solid var(--primary);
		}
	}
	&.mini {
		font-size: 10px;
		padding: calc(var(--module) / 6) calc(var(--module) / 4);
	}
}

.my-btn-back {
	color: var(--primary);
	text-transform: uppercase;
	font-size: $font-xs;
}

.my-btn-more {
	color: var(--secondary);
	text-transform: uppercase;
	font-size: $font-xs;
	text-decoration: none;
	@include font-line-height($font-xs);
	&:hover {
		color: var(--primary);
	}
}
