@use './../../../scss/mixins/line-height.scss';
*[class^='my-btn'] {
	&:focus,
	&:active {
		outline: 0;
		box-shadow: none;
	}
}

.my-btn {
	font-family: var(--font-titles);
	font-size: var(--font-sm);
	line-height: 16px;
	background-color: white;
	border: none;
	color: var(--primary);
	padding: 8px;
	text-decoration: none;
	position: relative;
	border-radius: 50px;
	display: flex;
	align-items: center;
	border: 1px solid var(--light-grey);

	&:hover {
		background-color: var(--primary);
		color: var(--secondary);
		border-color: var(--secondary);
		svg {
			color: var(--secondary);
		}
	}

	&.secondary {
		background-color: white;
		color: var(--primary);
		border-bottom: 3px solid var(--primary);
		padding-left: 0;
		padding-right: 0;
		&:hover {
			color: var(--secondary);
			border-bottom: 3px solid var(--secondary);
		}
	}
	&.dark {
		background-color: transparent;
		color: white;
		border: 1px solid var(--secondary);
		&:hover {
			background-color: var(--secondary);
			border-color: var(--primary);
			svg {
				color: white;
			}
		}
	}
	&.third {
		background-color: white;
		color: var(--secondary);
		border: 1px solid var(--secondary);
		border-bottom: 3px solid var(--secondary);

		&:hover {
			color: var(--primary);
			border: 1px solid var(--primary);
			border-bottom: 3px solid var(--primary);
		}
	}
	&.mini {
		font-size: 10px;
		padding: calc(var(--module) / 6) calc(var(--module) / 4);
	}
	svg {
		width: 12px;
		height: 12px;
		color: var(--secondary);
		background-color: transparent;
		margin-left: 4px;
	}
}

.my-btn-back {
	color: var(--primary);
	text-transform: uppercase;
	font-size: var(--font-xs);
}

.my-btn-more {
	color: var(--secondary);
	text-transform: uppercase;
	font-size: var(--font-xs);
	text-decoration: none;
	@include line-height.font-line-height(var(--font-xs));
	&:hover {
		color: var(--primary);
	}
}
