header {
	padding-bottom: 380px;
	position: relative;
	@media (min-width: 768px) and (max-width: 991px) {
		padding-bottom: 519px;
	}
	@media (max-width: 767px) {
		padding-bottom: 20px;
	}
	.header-text {
		padding-top: 125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		h2 {
			@media (max-width: 767px) {
				margin-top: 20px;
			}
		}
	}
	.first-block {
		margin-top: 125px;
		position: relative;
		@media (min-width: 768px) and (max-width: 991px) {
			margin-top: 55px;
		}
		@media (max-width: 767px) {
			margin-top: 45px;
			width: 100vw;
		}
		figure {
			width: 60%;
			padding-bottom: 40%;
			height: 0;
			overflow: hidden;
			margin: 0;
			position: relative;
			left: 0;
			top: 0;
			z-index: 0;
			@media (min-width: 768px) and (max-width: 991px) {
				width: 70%;
				padding-bottom: 50%;
			}
			@media (max-width: 767px) {
				width: 100vw;
				padding-bottom: 50%;
			}
			img {
				position: absolute;
				left: 0;
				top: 0;
				object-fit: cover;
				object-position: center;
			}
		}
	}
	.text-block {
		width: 60%;
		position: absolute;
		right: 0;
		top: 100px;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		@media (min-width: 768px) and (max-width: 991px) {
			width: 70%;
			top: 170px;
		}
		@media (max-width: 767px) {
			position: static;
			width: 100vw;
		}
		.first-text {
			width: 50%;
			padding: 48px;
			padding-right: 200px;
			background-color: var(--primary);
			@media (min-width: 768px) and (max-width: 991px) {
				width: 90%;
				padding-right: 60px;
			}
			@media (max-width: 767px) {
				position: static;
				padding-right: 0;
				padding: 20px;
				width: 90%;
			}
		}
		.second-text {
			padding: 48px;
			padding-right: 200px;
			background-color: white;
			@media (min-width: 768px) and (max-width: 991px) {
				padding-right: 60px;
			}
			@media (max-width: 767px) {
				position: static;
				padding-right: 0;
				padding: 20px;
				width: 90%;
			}
			h2 {
				margin: 12px 0 24px;
				@media (max-width: 767px) {
					text-align: center;
				}
			}
		}
	}
	.features {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100vw;
		@media (max-width: 767px) {
			position: static;
		}
		.mfi-container {
			display: flex;
			flex-wrap: wrap;
			@media (max-width: 767px) {
				flex-direction: column;
			}
		}
		.each-feat {
			background-color: white;
			max-width: calc((100% / var(--feats)));
			min-width: calc((100% / var(--feats)));
			@media (min-width: 768px) and (max-width: 991px) {
				max-width: calc((100% / calc(var(--feats) * 0.6)));
				min-width: calc((100% / calc(var(--feats) * 0.6)));
			}
			@media (max-width: 767px) {
				min-width: 100%;
				max-width: 100%;
				padding: 20px;
			}
			flex-grow: 1;
			padding: 36px var(--module);
			box-sizing: border-box;
			border-right: 1px solid var(--light-grey);
			border-top: 3px solid var(--light-grey);
			border-bottom: 1px solid var(--light-grey);
			display: flex;
			justify-content: flex-start;
			align-items: center;
			@media (max-width: 767px) {
				border-left: 1px solid var(--light-grey);
			}
			&:first-of-type {
				border-left: 1px solid var(--light-grey);
				@media (max-width: 767px) {
				}
			}
			svg {
				color: var(--secondary);
				width: 10%;
				height: fit-content;
				margin-right: 8px;
			}
			.feat-title {
				font-size: 19px;
				line-height: 23px;
				color: var(--primary);
			}
			&:hover {
				border-top-color: var(--secondary);
				.feat-title {
					color: var(--secondary);
				}
			}
		}
	}
}
