.desktop-nav {
	display: flex;
	width: 100%;
	a {
		font-family: var(--font-titles);
		color: var(--primary);
		margin-right: var(--module);
		font-size: var(--font-sm);
		&.active,
		&:hover {
			color: var(--secondary);
		}
		&.name-logo {
			margin-right: 0;
		}
	}
	.line {
		width: 2px;
		height: 30px;
		background-color: var(--secondary);
		margin: 0 16px;
	}

	.normal {
		display: flex;
		align-items: center;
		padding: 0;
		flex-grow: 1;
	}
	.important {
		display: flex;
		align-items: center;
		padding: calc(var(--module) * 1) calc(var(--module) * 1.5);
		margin-left: auto;
		padding-right: 0;
		a {
			margin-right: 0;
			margin-left: 0;
			&.contact {
				margin-right: 16px;
			}
		}
		a.rrss-icon {
			margin-left: 8px;
			display: flex;
			align-items: center;
			justify-content: center;
			svg {
				width: 16px;
				height: 16px;
				color: var(--secondary);
				background-color: transparent;
				border-radius: 0;
				opacity: 0.5;
			}
			&:hover {
				svg {
					opacity: 1;
				}
			}
		}
	}
}
