@import './Desktop/Desktop.scss';
@import './Mobile/Mobile.scss';

.main-nav {
	background-color: white;
	border-bottom: solid 1px map-get($theme-colors, 'grey');
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100vw;

	.bratic-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			width: 130px;
			height: 40px;
			overflow: hidden;
			margin: 0;
			@include breakpoint(md) {
				width: 120px;
			}
			@include breakpoint(sm-down) {
				width: 100px;
			}
			img {
				object-fit: contain;
				object-position: center;
				width: 100%;
				height: 100%;
			}
		}
	}
}
