@forward './Desktop/Desktop.scss';
@forward './Mobile/Mobile.scss';
@use './../../scss/mixins/breakpoints.scss';
.main-nav {
	background-color: white;
	border-bottom: solid 1px var(--grey);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100vw;

	.mfi-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			width: 130px;
			height: 40px;
			overflow: hidden;
			margin: 0;
			@include breakpoints.breakpoint(md) {
				width: 120px;
			}
			@include breakpoints.breakpoint(sm-down) {
				width: 100px;
			}
			img {
				object-fit: contain;
				object-position: center;
				width: 100%;
				height: 100%;
			}
		}
	}
}
