@use './../scss/mixins/items-grid.scss' as grid;
.kit-digital {
	@media (max-width: 991px) {
		padding-top: 70px;
	}

	h1 {
		padding: 48px 0;
	}
	figure {
		margin-bottom: 48px;
	}
}

.subvenciones {
	padding-bottom: calc(#{var(--module)} * 4);
	@media (max-width: 991px) {
		padding-top: 70px;
	}
	.all-subvs {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 24px;
		.each-subv {
			// @include grid.items-grid(2, var(--module));
			width: 100%;
			// height: 750px;
			overflow: hidden;
			margin-bottom: 28px;
			img {
				height: 100%;
				object-fit: contain;
				object-position: center;
			}
		}
	}
}
