label {
	font-size: 10px;
	text-transform: uppercase;
	margin-bottom: 0;
}
input,
select,
textarea {
	border: map-get($theme-colors, 'grey') 1px solid;
	border-radius: 0;
	@include font-line-height($font-xs);
	padding: calc(#{$module} / 3);
	&::placeholder {
		display: block;
		@include font-line-height($font-xs);
		color: map-get($theme-colors, 'grey');
		padding: calc(#{$module} / 3);
	}
	&:focus {
		border: map-get($theme-colors, 'secondary') 1px solid;
		border-radius: 0;
	}
	&[type='checkbox'] {
		margin-right: calc(#{$module} / 6);
	}
}

textarea {
	resize: none;
	height: calc(#{$module} * 4);
}

form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	.input-label {
		display: flex;
		flex-direction: column;
		margin-bottom: calc(#{$module} / 3);
		width: 48%;
		flex-grow: 1;
		margin-right: 1%;
		input {
			width: 100%;
		}
	}
	.input-textarea {
		margin-right: 1%;
		display: flex;
		flex-direction: column;
		margin-bottom: calc(#{$module} * 1);
		width: 99%;
	}
	.submit-accept {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		@include breakpoint(md-down) {
			width: 100%;
			display: flex;
			flex-direction: column;
		}
		.my-btn {
			margin-right: calc(#{$module} / 2);
			@include breakpoint(md-down) {
				margin-right: 0;
			}
		}
		.terms {
			display: flex;
			@include breakpoint(md-down) {
				margin-bottom: $module;
			}
			label {
				display: flex;
				a {
					margin-left: calc(#{$module} / 6);
				}
			}
		}
	}
}
