@use './../../scss/mixins/breakpoints.scss';
@use './../../scss/mixins/items-grid.scss';
.pswp-gallery {
	.pswp-thumbnails {
		display: flex;
		flex-wrap: wrap;
		.pswp-thumbnail {
			overflow: hidden;
			cursor: pointer;
			@include breakpoints.breakpoint(xl-up) {
				@include items-grid.items-grid(6, var(--module));
				height: 170px;
			}
			@include breakpoints.breakpoint(lg) {
				height: 150px;
				@include items-grid.items-grid(5, var(--module));
			}
			@include breakpoints.breakpoint(md) {
				height: 150px;
				@include items-grid.items-grid(4, var(--module));
			}
			@include breakpoints.breakpoint(sm-down) {
				height: 180px;
				@include items-grid.items-grid(2, var(--module));
			}

			img {
				height: 100%;
				object-position: center;
				object-fit: cover;
			}
		}
	}
}
.pswp {
	img {
		max-width: none;
		object-fit: contain;
	}
}
