.my-modals {
	display: flex;
	.modal-content {
		padding: calc(var(--module) * 1);
		width: 100%;
	}
	h2 {
		@include font-line-height(40px);
		text-align: center;
		&::after {
			display: none;
		}
	}
	p {
		margin-bottom: calc(var(--module) / 2);
	}
	&.video {
		.modal-dialog {
			height: auto;
			max-width: 40%;
			@include breakpoint(xl) {
				max-width: 50%;
			}
			@include breakpoint(lg) {
				max-width: 60%;
			}
			@include breakpoint(md) {
				max-width: 70%;
			}
			@include breakpoint(sm-down) {
				max-width: 95%;
			}
			&.modal-dialog-centered {
				justify-content: center;
				.modal-content {
					padding: 0;
					background-color: black;
					border: none;
				}
			}
		}
	}
}
.modal-width {
	width: 50%;
	max-width: none !important;
	@include breakpoint(md) {
		width: 70%;
	}
	@include breakpoint(sm-down) {
		width: 90%;
	}
}
.modal-backdrop.show {
	background-color: var(--text);
	backdrop-filter: blur(10px);
}
.close-btn {
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	outline: none;
	margin-bottom: calc(var(--module) / 2);
	color: white;
	margin-top: calc(var(--module) / 2);
	margin-right: calc(var(--module) / 2);
	&:focus {
		outline: none;
	}
	svg {
		margin-left: calc(var(--module) * 0.5);
		width: calc(var(--module) * 1) !important;
		height: calc(var(--module) * 1);
		color: white;
	}
}
