.orange {
	color: var(--secondary);
}
.red {
	color: var(--primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-titles);
}

h1 {
	@include font-line-height($h1-size);
	@include breakpoint(xl) {
		@include font-line-height($font-base * 3.9);
	}
	@include breakpoint(lg) {
		@include font-line-height($font-base * 3.3);
	}
	@include breakpoint(md) {
		@include font-line-height(4rem);
	}
	@include breakpoint(sm-down) {
		@include font-line-height($font-base * 3.5);
	}
}
h2 {
	color: var(--text);
	font-weight: $titles-bold;
	@include font-line-height($h2-size);
	margin-bottom: calc(var(--module) * 2);

	@include breakpoint(xl) {
		@include font-line-height(42px);
	}
	@include breakpoint(lg) {
		@include font-line-height(36px);
	}
	@include breakpoint(md) {
		@include font-line-height(32px);
	}
	@include breakpoint(sm-down) {
		@include font-line-height($font-base * 2);
	}
}
h3 {
	@include font-line-height($h3-size);
	@include breakpoint(lg) {
		@include font-line-height($font-xl);
	}
	@include breakpoint(md) {
		@include font-line-height($font-lg);
	}
	@include breakpoint(sm-down) {
		@include font-line-height($font-xl);
	}
}
h4 {
	@include font-line-height($h4-size);
}
h6 {
	@include font-line-height($h6-size);
}
h5 {
	@include font-line-height($h5-size);
}
p,
li {
	@include font-line-height($font-base);
	font-weight: $titles-normal;
	@include breakpoint(lg-down) {
		@include font-line-height($font-sm);
	}
}
.subtitle {
	text-transform: uppercase;
	color: var(--primary);
	@include font-line-height($font-lg);
	font-weight: $text-semibold;
	@include breakpoint(lg-down) {
		@include font-line-height($font-md);
	}
	@include breakpoint(md-down) {
		text-align: center;
	}
}

//Text Editor
.text-editorm,
.post-text {
	h1,
	h2,
	h3 {
		margin-bottom: 24px;
	}
	.ql-size-large {
		text-transform: uppercase;
		color: var(--primary);
		@include font-line-height($font-lg);
		font-weight: $text-semibold;
	}
	strong {
		font-weight: $text-semibold;
	}
	ul {
		li {
			margin-left: 12px;
			font-weight: $titles-light;

			&::before {
				content: '\00bb';
				margin-right: calc(var(--module) / 4);
				font-weight: $text-semibold;
				color: var(--primary);
			}
		}
	}
	ol {
		margin-top: 12px;
		li {
			margin-left: 24px;
			font-weight: $titles-light;
			&::marker {
				color: var(--primary);
			}
		}
	}
	p {
		em {
			font-weight: $titles-light;
		}
	}
	.ql-indent-1,
	.ql-indent-2 {
		margin-left: calc(var(--module) * 1);
		@include font-line-height($font-sm);
		&::before {
			content: '\2234';
			margin-right: calc(var(--module) / 4);
			font-weight: $text-semibold;
			color: var(--primary);
		}
	}
}
