@use './../../../scss/mixins/line-height.scss';
.mobile-nav {
	display: flex;
	align-items: center;
	.menu-btn {
		width: 30px;
		height: 30px;
	}
	.contact-btn {
		background-color: var(--primary);
		color: white;
		text-decoration: none;
		font-family: var(--font-titles);
		text-align: center;
		padding: calc(var(--module) / 1);
		margin-right: calc(var(--module) / 2);
		@include breakpoint(sm-down) {
			padding: calc(var(--module) / 2) calc(var(--module) / 1);
		}
	}
	.sub-menu {
		position: absolute;
		padding: calc(var(--module) * 2) 15px;
		background-color: white;
		top: 0;
		bottom: 0;
		height: 100vh;
		left: 0;
		right: 0;
		z-index: 1;
		display: none;
		border-top: 3px solid var(--primary);
		&.show {
			display: flex;
		}
		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			li {
				padding: calc(var(--module) / 2);
				a,
				p {
					@include line-height.font-line-height(var(--font-xl));
					text-transform: uppercase;
					font-family: var(--font-titles);
					color: var(--primary);
					&.rrss-icon {
						svg {
							width: 25px;
							height: 25px;
							color: var(--primary);
							background-color: transparent;
							border-radius: 0;
						}
					}
				}
			}
		}
	}
}
