.mobile-nav {
	display: flex;
	align-items: center;
	.menu-btn {
		width: 30px;
		height: 30px;
	}
	.contact-btn {
		background-color: map-get($theme-colors, 'primary');
		color: white;
		text-decoration: none;
		font-family: $font-titles;
		text-align: center;
		padding: calc(#{$module} / 1);
		margin-right: calc(#{$module} / 2);
		@include breakpoint(sm-down) {
			padding: calc(#{$module} / 2) calc(#{$module} / 1);
		}
	}
	.sub-menu {
		position: absolute;
		padding: calc(#{$module} * 2) 15px;
		background-color: white;
		top: 0;
		bottom: 0;
		height: 100vh;
		left: 0;
		right: 0;
		z-index: 1;
		display: none;
		border-top: 3px solid map-get($theme-colors, 'primary');
		&.show {
			display: flex;
		}
		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			li {
				padding: calc(#{$module} / 2);
				a {
					@include font-line-height($font-xl);
					text-transform: uppercase;
					font-family: $font-titles;
					color: map-get($theme-colors, 'primary');
					&.rrss-icon {
						svg {
							width: 25px;
							height: 25px;
							color: map-get($theme-colors, 'primary');
							background-color: transparent;
							border-radius: 0;
						}
					}
				}
			}
		}
	}
}
